@import 'tailwindcss';

@layer base {
  html,
  body {
    font-family: 'Poppins', system-ui, sans-serif !important;
  }

  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
  }
}

@layer components {
  .shiki-wrapper {
    background-color: rgb(17 24 39);
    padding: 1.5rem;
    font-size: 0.875rem;
    overflow-x: auto;
  }

  .shiki {
    font-family: 'Poppins', system-ui, sans-serif !important;
  }

  .shiki-highlight {
    font-family: 'Poppins', system-ui, sans-serif !important;
  }

  .shiki-highlight > div {
    background-color: transparent !important;
    padding: 0 !important;
  }

  .shiki-highlight pre {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins', system-ui, sans-serif !important;
  }

  .shiki-highlight code {
    font-family: 'Poppins', system-ui, sans-serif !important;
  }

  .shiki-highlight span {
    font-family: 'Poppins', system-ui, sans-serif !important;
  }
}
